nav.pagination {
    padding: 25px;
    padding-bottom: 50px;
    margin: 0 auto;
    padding-top: 45px;
    margin-top: 75px;
}

section.blog_list {
    align-items: left;
}

section.blogpage {
    text-align: left;
}

.blog_list_item {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 50px;
}

.article_title {
    text-align: left;
    font-weight: 700;
    color: $sk-bluegrey-dark;
}

.article_content {
    text-align: left;
    color: $sk-grey-dark;
}

.reading {
    @extend .button;
}

.pagina {
    @extend .button;
    color: white;
    background-color: $sk-bluegrey-dark;
    padding: 5px 10px 5px 10px;
}