.startbutton {
    display: block;
    position:absolute;
    height: 1.5rem;
    padding-top:0.5rem;
    padding-bottom:0.1rem;
    width: 7rem;
    text-align: center;
    color: rgb(250, 146, 49);
    border: rgb(250, 146, 49) solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
}

.work {
    @extend .startbutton;
    left: 25%;
    top: 40%;
}

.play {
    @extend .startbutton;
    left: 75%;
    top: 40%;
}