@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url('/webfonts/Quicksand-Light.ttf') format('ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$font-stack: 'Quicksand', sans-serif;
$prim-color: rgb(38, 46, 68);
$sk-orange: rgb(255, 154, 46);
$sk-bluegrey-light: rgb(213, 217, 224);
$sk-bluegrey-dark: rgb(74, 109, 136);
$sk-grey-dark: rgb(94, 97, 102);
$sk-grey-light: rgb(152, 158, 166);