@font-face {
    font-family: 'Quicksand';
    src: url('/webfonts/Quicksand-Light.eot');
    src: url('/webfonts/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/Quicksand-Light.woff2') format('woff2'),
        url('/webfonts/Quicksand-Light.woff') format('woff'),
        url('/webfonts/Quicksand-Light.svg#Quicksand-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/webfonts/Quicksand-Regular.eot');
    src: url('/webfonts/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/Quicksand-Regular.woff2') format('woff2'),
        url('/webfonts/Quicksand-Regular.woff') format('woff'),
        url('/webfonts/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/webfonts/Quicksand-Bold.eot');
    src: url('/webfonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/Quicksand-Bold.woff2') format('woff2'),
        url('/webfonts/Quicksand-Bold.woff') format('woff'),
        url('/webfonts/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/webfonts/Quicksand-SemiBold.eot');
    src: url('/webfonts/Quicksand-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/Quicksand-SemiBold.woff2') format('woff2'),
        url('/webfonts/Quicksand-SemiBold.woff') format('woff'),
        url('/webfonts/Quicksand-SemiBold.svg#Quicksand-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('/webfonts/Quicksand-Medium.eot');
    src: url('/webfonts/Quicksand-Medium.eot?#iefix') format('embedded-opentype'),
        url('/webfonts/Quicksand-Medium.woff2') format('woff2'),
        url('/webfonts/Quicksand-Medium.woff') format('woff'),
        url('/webfonts/Quicksand-Medium.svg#Quicksand-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}