<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  <title>{{ config.title }}</title>
</head>

<body>
    <header>
        <div class="headerbild">
            <img class="logo" src="/img/skribbeltech-logo.png" alt="SkribbelTech Logo">
        </div>

        <nav class="navigation">
            <a class="menu" href="/">About</a>
            <a class="menu" href="/blog">Blog</a>
            <a class="menu" href="/resume">Resume</a>
            <a class="menu" href="/publications">Publications</a>
        </nav>
    </header>

    {% block content %}{% endblock content %}

</body>

<footer>

</footer>
</html>