<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="style.css">
  <title>MyBlog</title>
</head>

<body>
    <section class="section">
        <div class="container">
          <div class="container">
            <a href="{{ config.base_url }}/work/resume" class="work">Work</a>
            <a href="{{ config.base_url }}/blog/" class="play">Play</a>
        </div>
        </div>
    </section>
</body>

</html>