{% extends "_base.html" %}

{% block content %}
<section class="resume">
    <h1 class="title"> {{ section.title }}</h1>
    <div class="cv">
        <div class="timeline">
            {% for page in section.pages %}
                <div class="timeline-item">
                    <div class="item">
                        <h4>{{ page.title }}</h4>
                        <p>{{ page.content | safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="skills">
            <h3>Skills</h3>
            <div class="skill-box">
                <h4>Programming Languages</h4>
                <div class="skill-item">
                    <p class="it">C</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                </div>
                <div class="skill-item">
                    <p class="it">C++</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>
                <div class="skill-item">
                    <p class="it">Python</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>
                <div class="skill-item">
                    <p class="it">Java</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>
            </div>

            <div class="skill-box">
                <h4>Tools</h4>
                <div class="skill-item">
                    <p class="it">VS Code</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                </div>

                <div class="skill-item">
                    <p class="it">Eclipse IDE</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>

                <div class="skill-item">
                    <p class="it">Git</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>

                <div class="skill-item">
                    <p class="it">LaTeX</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>

                <div class="skill-item">
                    <p class="it">Xilinx Vivado</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>
            </div>

            <div class="skill-box">
                <h4>Operating Systems</h4>
                <div class="skill-item">
                    <p class="it">(Embedded) Linux</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                </div>

                <div class="skill-item">
                    <p class="it">MacOS</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>

                <div class="skill-item">
                    <p class="it">RIOT OS</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                </div>

                <div class="skill-item">
                    <p class="it">QNX</p>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>
            </div>

            <div class="skill-box">
                <h4>Languages</h4>
                <div class="skill-item">
                    <p class="it">German</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                </div>
                <div class="skill-item">
                    <p class="it">English</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                </div>
                <div class="skill-item">
                    <p class="it">French</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>
            </div>

            <div class="skill-box">
                <h4>Other</h4>
                <div class="skill-item">
                    <p class="it">Linux CLI</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>
                <div class="skill-item">
                    <p class="it">Hardware Design (VHDL)</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>
                <div class="skill-item">
                    <p class="it">Electronics</p>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                    <div class="lightbox"></div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}